{% extends "base.html" %}

{% block title %}
  Página de Login
{% endblock %}

{% block content %}
<h3>Autenticação de usuário</h3>
<form action="{% url 'login' %}" method="POST" id="formulario-entrar">
    {% csrf_token %}
    <label for="id_username">Usuário:</label>
    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">

    <label for="id_password">Senha:</label>
    <input type="password" name="password" autocomplete="current-password" required id="id_password">

    <button type="submit">Acessar conta</button>
</form>
{% endblock %}
