<section>
    <div>
        <h2>Busca rápida</h2>
    </div>
    <div class="rounded p-1 d-flex justify-content-end">
        <span class="dropdown">
            <button type="button" class="btn btn-sm dropdown-toggle border border-2" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Pesquisa
            </button>
            <div class="dropdown-menu shadow">
                <div class="dropdown-items">
                    <a class="dropdown-item dd-select" href="#" id="dd-nro_bop">nro_bop</a>
                    <a class="dropdown-item dd-select" href="#" id="dd-nro_tombo">nro_tombo</a>
                </div>
            </div>
        </span>
    </div>
    <form method="post" action="{% url 'editor' %}" id="fomulario-editor">
        {% csrf_token %}
        <div id="selects">
            <div id="nro_bop">
                <span>nro_bop</span>
                <div class="input-group">
                    <input name="nro_bop" id="nro_bop" type="text" class="form-control input_busca" mask="bop" maxlength="19">
                </div>
            </div>
    
            <div id="nro_tombo">
                <span>nro_tombo</span>
                <div class="input-group">
                    <input name="nro_tombo" id="nro_tombo" type="text" class="form-control input_busca" mask="bop" maxlength="19">
                </div>
            </div>
        </div>
        <button type="submit" name="editar" class="btn btn-primary w-100 mt-4" >EDITAR</button>
    </form>
</section>