project/app_core/__pycache__/
project/app_core/migrations/__pycache__/
project/app_core/templatetags/__pycache__/

project/app_main/__pycache__/
project/app_main/migrations/__pycache__/
project/app_main/templatetags/__pycache__/

project/project/__pycache__/
env/
