<form method="post" action="">
  {% csrf_token %}
  {{ formset.management_form }}
  
  <input type="hidden" name="id" value="{{ ids|join:',' }}">
  
  <table>
  
  <table>
    <thead>
      <tr>
        {% for form in formset %}
        <th>{{form.label}}</th>
        {%endfor%}
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
        <tr>
          <td>{{ form}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <input type="submit" value="Salvar">
</form>

{{formset}}
