{% extends "base.html" %}
{% load static %}
{% load filters_test %}


{% block js %}
<script src="{% static 'js/busca.js' %}" defer></script>
{% endblock js %}

{% block title %}
  Busca de Boletins
{% endblock %}

{% block content %}

<h1>Busca de Boletins</h1>
<a href="/home">home</a>
<a href="/test">testes</a>
<a href="{% url 'sair' %}">sair</a>

<form method="post" {% comment %}action="{% url 'buscar_dados' %}"{% endcomment %}>
    {% csrf_token %}
    <label for="data_inicio">Período:</label>
    <input type="date" name="data_inicio" id="data_inicio">
    <label for="data_fim"><i class="bi bi-arrow-right"></i> </label>
    <input type="date" name="data_fim" id="data_fim">
  
    <!-- selects -->
    <div id="selects">
      <div class="select">
        <label for="select_coluna_1">Select:</label>
        <select id="select_coluna_1" name="select_coluna_1">
          <option value="">Selecione uma coluna</option>
          {% for coluna in colunas %}
          <option value="{{ coluna }}">{{ coluna }}</option>
          {% endfor %}
        </select>
        <input type="search" id="select_valor_1" name=""  placeholder="Buscar por...">
        <button type="button" class="btn-apagar-select" onclick="remover_select(this)"><i class="bi bi-trash"></i></button>
      </div>
    </div>
  
    <!-- Botão de adicionar select -->
    <button type="button" id="btn-adicionar-select" onclick="adicionar_select()"><i class="bi bi-plus-lg"></i></button>
  
    <!-- Botão de buscar -->
    <button type="submit" ><i class="bi bi-search"></i></button>
  </form>
{% endblock %}