{% extends "base.html" %}
{% load static %}
{% load filters_test %}


{% block js %}
<script src="{% static 'js/busca.js' %}" defer></script>
{% endblock js %}

{% block title %}
  Busca de Boletins
{% endblock %}

{% block content %}

<h1>Busca de Boletins</h1>
<a href="/home">home</a>
<a href="/testing">testes</a>
<a href="{% url 'sair' %}">sair</a>

<form method="post" action="{% url 'testing' %}" id="myForm">
  {% csrf_token %}
  <label for="data_inicio">Período:</label>
  <input type="date" name="data_inicio" id="data_inicio" value="2023-01-01">
  <label for="data_fim"><i class="bi bi-arrow-right"></i> </label>
  <input type="date" name="data_fim" id="data_fim" value="2023-01-01">

  <!-- selects -->
  <div id="selects">
    <div class="select">
      <span>Select:</span>
      <select onchange="select_name(this)">
        <option value="">Selecione uma coluna</option>
        {% for coluna in colunas %}
        <option value="{{ coluna }}">{{ coluna }}</option>
        {% endfor %}
      </select>
      <input type="search" placeholder="Buscar por...">
      <button type="button" class="btn-apagar-select" onclick="remover_select(this)"><i class="bi bi-trash"></i></button>
    </div>
  </div>

  <!-- Botão de adicionar select -->
  <button type="button" id="btn-adicionar-select" onclick="adicionar_select()"><i class="bi bi-plus-lg"></i></button>

  <!-- Botão de buscar -->
  <button type="submit"><i class="bi bi-search"></i></button>
</form>

<hr>

<h1>Resultado da busca:</h1> 
<form action="{% url 'editar' %}" method="post">
  {% csrf_token %}
  <button type="submit">ir para edição</button>
  {% for bo in resultado %}
  <div>
    <span><input type="checkbox" name="{{bo.id}}"></span>{{ bo.data_fato }} | {{ bo.nro_bop }} | {{ bo.vit_nome }}
  </div>
  {% endfor %}
</form>
{% endblock %}