{% extends "base.html" %}
{% load static %}
{% load filters_test %}


{% block js %}
<script src="{% static 'js/busca.js' %}" defer></script>
{% endblock js %}

{% block title %}
  Busca de Boletins
{% endblock %}

{% block content %}

<h1>Busca de Boletins</h1>
<a href="/home">home</a>
<a href="/test">testes</a>
<a href="{% url 'sair' %}">sair</a>

<form method="post" {% comment %}action="{% url 'buscar_dados' %}"{% endcomment %}>
    {% csrf_token %}
  
    <!-- selects -->
    <div id="selects">
      <div class=" select">
        <label for="select1_coluna">Select:</label>
        <select id="select1_coluna" name="select1_coluna" >
          <option value="">Selecione uma coluna</option>
          {% for coluna in colunas %}
          <option value="{{ coluna }}">{{ coluna }}</option>
          {% endfor %}
        </select>
        <input type="text" id="select1_valor" name="select1_valor"  placeholder="Valor">
        <button type="button" class="btn-apagar-select">Apagar</button>
      </div>
    </div>
  
    <!-- Botão de adicionar select -->
    <button type="button" id="btn-adicionar-select" >+</button>
  
    <!-- Botão de buscar -->
    <button type="submit" >Buscar</button>
  </form>
 
{% endblock %}