<footer class="shadow">
  <div class="py-3 my-4 container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="{% url 'busca' %}" class="nav-link px-2 text-body-secondary">Busca</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 PROJECT | SIAC - SEGUP-PA</p>
  </div>
  {% include 'includes/loading.html' %}
</footer>