{% extends "base.html" %}
{% load static %}

{% block statics %}
<script src="{% static 'js/busca.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/busca.css' %}">
<link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
{% endblock %}

{% block title %}
  Busca de Boletins
{% endblock %}

{% block content %}
<main class="container">
  <div class="row my-4 w-100">
    <section class="col-4 border border-2">
      <aside class="filtros">
        <form method="post" action="{% url 'busca' %}" id="myForm">
          {% csrf_token %}
          {% include 'includes/selects.html' %}
          <div class="form-group">
            <label for="data_inicio">Período:</label>
            <div class="input-group">
              <input type="date" name="data_inicio" id="data_inicio" value="{% for value in values%}{% if value.0 == 'data_inicio' %}{{value.1}}{% endif %}{% endfor%}" class="form-control">
              <label for="data_fim"><i class="bi bi-arrow-right"></i> </label>
              <input type="date" name="data_fim" id="data_fim" value="{% for value in values%}{% if value.0 == 'data_fim' %}{{value.1}}{% endif %}{% endfor%}" class="form-control">
            </div>
          </div>
          <hr>
          <div id="selects" class="p-2">
            {% for coluna in colunas %}
            <div id="select-{{coluna}}" class="hide">
                <span>{{coluna}}</span>
                <div class="input-group">
                <input id="{{coluna}}" type="text" class="form-control input_busca" {% if coluna == 'nro_bop' or coluna == 'nro_bop_aditado' or coluna == 'nro_tombo'%} mask="bop" maxlength="19" {% else %} mask="text" {% endif %}>
                <button type="button" class="btn btn-sm btn-success btn-add" data-target="{{coluna}}"><i class="bi bi-check2"></i></button>
                <button type="button" class="btn btn-sm btn-danger btn-apagar" data-target="{{coluna}}"><i class="bi bi-trash"></i></button>
                </div>
                <div id="block-lista-{{coluna}}"></div>
                <input id="lista-{{coluna}}" class="input_lista" type="hidden" name="{{coluna}}" value="{% for value in values%}{% if value.0 == coluna %}{{value.1}}{% endif %}{% endfor%}">
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-sm btn-primary border border-2 my-3 w-100"><i class="bi bi-search"></i></button>
        </form>
      </aside>
    </section>
  
    <section class="col-8 border border-2">
      {% if resultado %}
      <span class="d-flex justify-content-end"><strong>Resultado da busca: {{resultado | length}}</strong></span>
      <form action="{% url 'editor' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-bordered align-middle" id="tabela">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Data Fato</th>
                <th scope="col">Nro BOP</th>
                <th scope="col">Vítima Nome</th>
                <th scope="col">Vítima Pai</th>
                <th scope="col">Vítima Mãe</th>
  
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for bo in resultado %}
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="id" value="{{ bo.id }}">
                  </div>
                </td>
                <td class="font-sm">{{ bo.data_fato }}</td>
                <td class="font-sm">{{ bo.nro_bop }}</td>
                <td class="font-sm">{{ bo.vit_nome }}</td>
                <td class="font-sm">{{ bo.vit_pai }}</td>
                <td class="font-sm">{{ bo.vit_mae }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
      {% endif %}
    </section>
  </div>
</main>
{% endblock %}