


{% extends "base.html" %}
{% load static %}
{% load filters %}


{% block statics %}
<script src="{% static 'js/editor.js' %}" defer></script>
<script src="{% static 'js/mask.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/editor.css' %}">
{% endblock %}

{% block title %}
  Editor de Boletins
{% endblock %}

{% block content %}

<main class="container my-3 border shadow">
  
  {% if not resultados_ids %}
    {% include 'includes/busca-rapida.html' %}
  {% else %}
  <section class="w-100">
    <form action="{% url 'editor' %}" method="post">
      {% csrf_token %}
      <button type="submit" name="salvar" class="btn btn-primary">SALVAR</button>
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered align-middle">
          <thead>
            <tr>
              {% for col in colunas %}
                <th scope="col">{{col}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for ocorrencia in ocorrencias %}
            <tr>
              {% for col in colunas %}
              <td class="font-sm text-center">
                {% if col == 'aut_data_nasc' or col == 'data_concl_proc' or col == 'data_fato' or col == 'data_inst_proc' or col == 'data_leitura' or col == 'data_registro' or col == 'vit_dt_nasc' %}
                  <input type="text" name="coll_{{ ocorrencia.id }}_{{ col }}" id="" value="{{ ocorrencia|get_item:col|date:'Y-m-d' }}" class="form-control">
                {% elif col == 'data_modificacao' or col == 'data_upload' %}
                  <input type="text" disabled name="coll_{{ ocorrencia.id }}_{{ col }}" id="" value="{{ ocorrencia|get_item:col|date:'Y-m-d H:i:s' }}" class="form-control">
                {% elif col == 'identificacao_fato' or col == 'relator' or col == 'relato' %}
                  <input type="text" disabled name="coll_{{ ocorrencia.id }}_{{ col }}" id="" value="{{ ocorrencia|get_item:col}}" class="form-control">
                {% elif col == 'exclusao' %}
                  <input type="checkbox" name="coll_{{ ocorrencia.id }}_{{ col }}" id="" {% if ocorrencia|get_item:col == True %}checked{% endif %} class="form-check-input">
                {% else %}
                  <input type="text" name="coll_{{ ocorrencia.id }}_{{ col }}" id="" value="{{ ocorrencia|get_item:col|safe }}" class="form-control">
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% for id in resultados_ids %}
      <input type="hidden" name="id" value="{{id}}">
      
      <a href="/editor/{{id}}">AAAAAAAAAA</a>
      {% endfor %}
    </form>

  </section>  
  {% endif %}
</main>
{% endblock %}