{% extends "base.html" %}
{% load static %}
{% load filters %}


{% block statics %}
<script src="{% static 'js/edit.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock %}

{% block title %}
  Editor de Boletins
{% endblock %}

{% block content %}

<main class="container">
  <form action="{% url 'editor' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="salvar" class="btn btn-primary">SALVAR</button>
    <div class="table-responsive">
      <table class="table table-sm table-hover table-bordered align-middle">
        <thead>
          <tr>
            {% for col in colunas %}
              <th scope="col">{{col}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for ocorrencia in ocorrencias %}
          <tr>
            {% for col in colunas %}
            <td class="font-sm"><input type="text" name="" id="" value="{{ ocorrencia|get_item:col }}"></td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
</main>
{% endblock %}