/* Scrollbar */
/* *{
  border: 1px solid purple;
} */

body::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}

.dropdown-toggle::after {
  display: none !important;
}

/*BASE*/
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

header, footer{
    flex-shrink: 0;
}

.dropdown-menu#user-menu{
  padding-bottom: 0;
}

#user-menu hr.dropdown-divider{
  margin-bottom: 0;
}

#user-menu a{
  color: black !important;
}

#user-menu a.sair{
  padding: 10px;
  font-weight:600;
  color: #dc3545 !important;
}

ul#user-menu>li>a.sair:hover{
  background-color: #dc3545;
  color: white !important;
}

a{
  cursor: pointer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav{
  background-color: #18469a;
  height: 40px;
}

footer, nav{
  background-color:  #18469a;
  color: white;
}

footer>#bar, header{
  background-color: #11306a ;
  min-height: 50px;
}

footer a, nav a, header a{ 
  color: white !important;
}

nav a.active{
  background-color: #dc3545 !important;
  height: 42px;
}

.perfil{
  background-color: #0b1b3a;
  border-radius: 25px 0 25px 25px;
  padding: 0 10px;
}

.perfil i{
  padding-right: 10px;
}

.perfil .float-end{
  padding-top: 5px;
  padding-right: 5px;
  font-size: 0.8em;
}

.perfil #group{
  display: inline-block;
  /* background-color: #dc3545; */
  /* padding: 0 5px; */
  /* border-radius: 0px 0 0px 0px; */
  /* line-height: 20px; */
  color: #dc3545;
}

.perfil .dropdown-toggle{
  float: left;
}
