.selected {
    background-color: rgb(0, 68, 255);
    color: white;
}

.hide{
    display: none;
}

.dropdown-menu{
    max-height: 400px;
    overflow-y: auto;
}

.dropdown-item{
    cursor: pointer;
}