.dropdown-menu{
    max-height: 400px;
    overflow-y: auto;
}

.selected {
    background-color: rgb(0, 68, 255);
    color: white;
}

.input_busca{
    display: none;
}

.dropdown-item{
    cursor: pointer;
}