body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
}

header, footer{
    flex-shrink: 0;
}

.dropdown-menu#user-menu{
  padding-bottom: 0;
}

ul#user-menu>li>hr.dropdown-divider{
  margin-bottom: 0;
}

ul#user-menu>li>a.sair{
  padding: 10px;
  font-weight:600;
}

ul#user-menu>li>a.sair:hover{
  color: #dc3545;
  background-color: white;
}

a{
  cursor: pointer;
}

.filtros{
  min-height: 500px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}