.selected {
    background-color: #0d6efd;
    color: white;
}

.selected:hover {
    background-color: #dc3545;
    color: white;
}

.hide{
    display: none;
}

.dropdown-menu{
    max-height: 400px;
    overflow-y:scroll;
    overflow-x: hidden;
}

.dropdown-item{
    cursor: pointer;
}

.dropdown-search > input{
    border: 1px solid #0d6efd;
    position: absolute;
}

.font-sm{
    font-size: 0.75em;
}